.product-header {
    display: flex;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 2px 2px 7px 0 #b6b5b5;
    border-radius: 4px;

    .sort-by {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .items-count {
        margin-left: auto;
        cursor: pointer;

        .count-option {
            cursor: pointer;
        }

        :first-child {
            display: flex;
            align-items: center;
        }

        mat-icon {
            margin-left: 5px;
        }
    }

    .view-options {
        margin-left: 10px;

        mat-icon {
            margin-left: 5px;
            cursor: pointer;
        }
    }
}

::ng-deep .sort-by {
    
}