.homepage {
  display: flex;
  min-height: 100vh;
  height: 100%;
  background: #f9f9f9;

  .products {
    margin: 30px 2.5vw;
    width: 100%;
  }

  .product-grid-list {
    margin-top: 10vh;

    &-tile {
      background: white;
      border-radius: 4px;
      box-shadow: 1px 1px 4px 0 #aeaeae;

      app-product-box {
        padding: 15px;
        width: 100%;
      }
    }
  }
}

mat-slider {
  width: 300px;
}
