.items-cart {
  padding: 20px;
  background: #f9f9f9;
  min-height: 100vh;
  height: 100%;

  table {
    width: 100%;

    .dummy-image {
      height: 170px;
      width: 170px;
      background-color: #f2f2f2;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .product-image {
      height: 170px;
      margin: auto;
    }

    .row-data {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .empty-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    height: 150px;

    button {
      margin-left: 10px;
    }
  }
}
